body {
    background-image: url(https://img.freepik.com/free-vector/rainbow-background-tie-dye-style_23-2148298972.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
        background-size: cover;}
h3 {
    color: white;
    size: 50px;
}

h2 {
    color: white;
    size: 70px;
}

p {
    color: white;
    text-size-adjust: 500px;
}

.container{
    background-color: lightslategrey;
}